/*###############################背景图片#################################  */
html body,.result-op,#content_left .result {
	/* 背景在这里替换*/
    background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1593363433720&di=7a89de81cde882ac044a5cab50e0f6af&imgtype=0&src=http%3A%2F%2F01.imgmini.eastday.com%2Fmobile%2F20180816%2F20180816024946_e18d893230d42d268fdf54594b0e8f0e_2.jpeg);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    
}

#content_right{
    display: none;
}

html body {
    color: #eee;

}
/* #######################整个页面毛玻璃########################## */
#container {
    width: 100%;
    background-color:#4a4a4ab3;
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 10px;
    box-shadow:  0px 10px 16px #000000a6;
    
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
}


/*######################搜索结果 ########################### */
#content_left {
    width: 80%;
    padding: 0;
    padding-left:0 !important;
}
/* 搜索结果加背景 */
#content_left .result-op,
#content_left .result {
    width: 95%;
    margin:30px;
    margin-bottom: 14px;
    border-radius: 10px;   
    padding: 10px 20px 10px 20px;
    backdrop-filter: blur(0px);
    box-shadow:  6px 6px 6px #0000002e, 
             -6px -6px 6px #ffffff1f,
              3px 3px 3px #00000014, 
             -3px -3px 3px #ffffff1f;
}
#content_left .result-op:before,
#content_left .result:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    background: #45454594;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(60px);
    border-radius: 9px; 
}
/* 结果中的文字 */
em {
    font-style: normal;
    color: #ff7e7e;
}
a:-webkit-any-link {
    color: #3ccac2;
    cursor: pointer;
    text-decoration: none;
}

/* #############*/


a:visited{
    color: #ff8000 !important;
}

#content_right,.cr-offset{
    width:0 !important;
}

.bdsug {
    background-image: initial;
    background-color: rgba(20, 20, 20, .43);
    border-top-color: rgba(189, 185, 177, 0);
    border-right-color: rgba(189, 185, 177, 0);
    border-bottom-color: rgba(189, 185, 177, 0);
    border-left-color: rgba(189, 185, 177, 0);
    box-shadow: rgba(213, 209, 203, 0) 1px 1px 3px;
    border-radius: 15px;

}
.bdsug .bdsug-feedback-wrap {
    background-image: initial;
    background-color: rgba(222, 219, 213, 0);
    color: rgb(108, 108, 108);

}
#form{

    background: #59595900 !important;
}
.bdsug li {
    background: #5959594a;
    width: 522px;
    color: #e5e5e5;
    font: 14px arial;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    cursor: default;
    backdrop-filter: blur(15px);
}

/* ##############################导航栏############################# */
#head{
    background: #5959594a;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

/* 删掉百度的logo */
#result_logo img {
    width: 0;
}


/* 搜索框加圆角 */
.s_ipt_wr.bg,
.s_btn_wr.bg,
#su.bg {
    border-radius: 20px;
    padding-left: 10px;
    border-color:#ffffff52;
}

/* 搜索框文字颜色 */
#kw {
    color: #fff;
}

/* 按图搜索的按钮 */
.soutu-btn {
    background: #54545400;
    color: #66d8ea;
    border: 2px solid;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

/* 百度一下按钮 */
#form {
    display: flex;
    height: 100%;
}
.s_btn {
    color: #3ccac2;
}
/* 百度一下按钮指针放上去 */
.s_btn.btnhover {
    background: #5e5e5e69;
    border: 3px solid #95959588;
    box-shadow: 0px 0px 0px #fff;
}
/* head bar右边的 百度首页, 设置啥的 */
#u {
    vertical-align: middle;
}
#u a {
    text-decoration: none;
    color: #3ccac2;
    margin: 0 7px 0 0;
}
.wrapper_s #u {
    margin: 20px 10px 0px 0px;
}

/* ##################################body ################################*/
/* 网页,资讯,视频...那个条 */
#s_tab {
    line-height: 36px;
    height: 45px;
    padding: 55px 0 0 121px;
    float: none;
    zoom: 1;
    background: #575757aa !important;
    backdrop-filter: blur(30px);
}
#s_tab a,
#s_tab b {
    color: #e1e1e1;
    font-size: 10px;
    padding: 0;
    margin: 0;
}
#s_tab b {
    border-bottom: 2px solid #3ccac2;
    border-radius: 2px;
}
.s_tab_inner{
    padding-top:7px;
}

/* 为您找到多少结果 */
.nums {
    color: #ccc;
}

/* 搜索工具 */
.search_tool,
.search_tool_conter span {
    cursor: pointer;
    color: #cacaca;
}




/* ######################底部########################### */

#page{
    background-color: #4141418a !important;
    backdrop-filter: blur(10px);
    margin:0 !important;
}
#rs{
    background-color:#00000000 !important;
}
#foot {
    margin: 20px;
    margin-bottom: 0;
    background: #4a4a4ac4 !important;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow:  5px 5px 6px #0000001f, 
             -5px -5px 6px #fff3;
}
#foot #help{
    background-color:#00000000 !important;
}

/* 下面12345678页的按钮 */


   
/* 搜索结果日期颜色 */
.m,
a.m {
    color: #b5b5b5;
}



/* ###################滚动条样式############################### */
::-webkit-scrollbar {
    width: 15px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
    /*   border-radius: 10px; */
    background: #626262;
}
/* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(145deg, #7a7e80, #464646);
    box-shadow: 3px 3px 5px #12272c;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
    /*       height :0 */
}
/* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
    background-color: #2D343B;
}
/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
/* #wrapper{
    background: #545454aa;
    backdrop-filter: blur(10px);
} */
.c-showurl {
    color: rgb(126, 221, 109);
}


* {
    color: #ccc;
}

#header_top_bar {

    /*     margin: 100px 100px 100px 100px; */
    margin: 0px 0px 0px 0px;
    width: 100%;
    /*     padding: 10px 100px 10px 10px; */
}